@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-blur:rgba(56, 57, 59,0.8);
  --transition-1:all 0.25s ease;
  --transition-2:all 0.5s ease;
  --header-h:60px;
  --pw:650px;
  --font-size-48: clamp(2.5rem,1.875rem + 2vw,3rem);
  --font-size-11: 11px;
    --font-size-12: clamp(0.75rem,0.664rem + 0.4587vw,0.875rem);
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: clamp(0.9375rem,0.9239rem + 0.0725vw,1rem);
    --font-size-20: clamp(1rem,0.9457rem + 0.2899vw,1.25rem);
    --font-size-24: clamp(1.0625rem,0.9674rem + 0.5072vw,1.5rem);
}

[data-theme="light"],[data-color="light"]{
    --bg-1:#FFFFFF; 
    --bg-2:hsl(60, 20%, 99%);
   --bg-3: #f5f5f5;
    --bg-4:#eeeeee;
    --bg-5:#c2c2c2;
    
   
    --t-1:#313547;
    --t-2:#38393B;
    --t-3:#898E96;
    --t-4:#989EA6;
}

[data-theme='dark'],[data-color="dark"] {
   
  
  
    --bg-1:#161616;
    --bg-2:#1c1c1c;
    --bg-3:#2b2b2b;
    --bg-4:#393939;
    --bg-5:#333333;

    --t-1:#ffffff;
    --t-2:#f2f2f2;
    --t-3:#7d8084;
    --t-4:#7c7f82;

}

/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  *{
    margin: 0;
  }
  /* font style reaches  */
  input, button, textarea, select {
    font: inherit;
  }
  /* focus is anywhere inside the html document */
  html:focus-within {
    scroll-behavior: smooth;
   }
  
 /* requires tab index -1 on element being scrolled to */
  @media(prefers-reduced-motion){
     html:focus-within{
       scroll-behavior: auto;
     }
   }
  
   /* fonts */
   body {
    -webkit-font-smoothing: antialiased;
   }
  
   /* media */
   img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* can break on long words as needed */
  p, h1,h2,h3,h4,h5,h6,a,span,button {
    overflow-wrap: break-word;
  }
  
  
[id] {
    scroll-margin-top: 2rem;
}
/*  */
body {
    color: var(--t-1);
    background-color: var(--bg-1);
   
}
#root {
    min-width: 100vw;
    min-height: 100dvh;
    @apply flex flex-col 
}
html {
  overflow-x: hidden;
}
.padder {
  padding-left: clamp(0.5rem, -0.6364rem + 5.6818vw, 3rem);
  padding-right: clamp(0.5rem, -0.6364rem + 5.6818vw, 3rem);;
}


main {
  margin-top: var(--header-h);
  min-width: 100vw;
  @apply flex-auto

}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: var(--bg-2);
  
}
header > nav {
  
  height: var(--header-h);
  margin: auto;
  width: min(100vw,var(--pw));
  @apply flex flex-row items-center justify-between
}
.hamburger__button {
  cursor: pointer;
  @apply flex items-center justify-center sm:hidden
}
.hamburger {
  
  background-color: var(--bg-2);
  position: absolute;
  top: 0px;
  left:0px;
  transform: translate(-100%,0%);
  transition: var(--transition-1);
}
.hamburger[data-open="true"]{
  transform: translate(0%,0%);
}
.hamburger > nav {
  width: min(90vw,300px);
  height: 100dvh;
  @apply flex flex-col 
}
.hamburger__blur {
  display: none;
  width: 100vw;
  height: 100dvh;
  background-color: var(--bg-blur);
  cursor: pointer;
  position: absolute;
  top: 0px;
  left:0px;
}

.hamburger__blur[data-open="true"]{
  display: flex;
}

.theme__button {
  @apply flex items-center
}

*{
  font-family: "Twinkle Star", cursive;
}

h1 {
  font-size: var(--font-size-48);
}